body {
      margin: 0;
      background-color: black;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100vw;
      overflow: hidden;
    }


    #carousel-container {
      perspective: 1000px;
      width: 1200px;
      height: 300px;
      position: relative;
      margin-top: 30px;
      margin-bottom: 0px;
    }

    #carousel {
      width: 100%;
      height: 100%;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.1s;
    }

    .book {
      position: absolute;
      width: 120px;
      height: 180px;
      left: 50%;
      top: 50%;
      transform-style: preserve-3d;
      margin: -90px 0 0 -60px;
      transition: transform 0.3s;
    }

    .book img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(255,255,255,0.3);
    }

    #titletag {
      color: rgb(46,33,2);
      width: 180px;
      height: 65px;
      margin-top: 14px;
      margin-right: 10px;
      padding-bottom: 5px;
      background-color: rgb(230,226,218);
      text-align: center;
      font-size: 1.5em;
      font-weight: bolder;
    }

    #details {

      margin-bottom: 30px;
      text-align: left;
      padding: 1%;
      min-height: 80px;
      transition: opacity 0.8s;
    }





    #midpack {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100vh;

      overflow: hidden;
    }

    #sidebar_left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      padding: 5px;

      overflow: hidden;
    }

    #sidebar_right {
      width: 400px;
      height: 100vh;

      }

    #top_area {
      text-alignment: center;
      align-items: start;
      justify-content: center;
      height: 10vh;
      margin-top: 2%;

    }


    #lower_middle {
    margin: 5%;

    }

    button {
        height: 40px;
        width: 200px;
        border-radius: 5px;
    }

    input[type="image"] {
        border-top: 2px solid white;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        border-left: 2p solid white;
    }

    input[type="image"]:hover {
        border-top: 2px solid black;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        border-left: 2p solid black;
    }
