{% extends "add_book.html" %}

{% block content %}
    <form action="/add_bulk" method="POST" id="bulk">
            <h2>Bulk Input</h2>
        <label> Headers mandatory!<textarea name="booklist" id="booklist" placeholder="title,isbn,author_id,year"></textarea>
        <div class="upload">
            <label for="csvFile">Or upload a CSV file:</label>
            <input type="file" id="csvFile" name="file" accept=".csv"><br><br><br>
            <input type="submit" value="Add Bulk">
        </div>
    </form>
{% endblock %}
