<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>The Roundabout Library</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='carousel.css') }}">

</head>
<body>

  <!-- LEFT PANEL -->
  <div id="left-panel">
    <div class="route" id="add_book"><a href=add_book><img src=static/images/typewriter.png alt="Add Book"></a></div>
    <div class="route" id="add_author"><a href=add_author><img src=static/images/AddAuthor.png alt="Add Author"></a></div>
    <input type="image" src="static/images/delete_book.png" alt="delete" id="deletion" form="idForm"/>

  </div>

  <!-- CENTER PANEL -->
  <div id="center-panel">
    <div id="switches">

      <div class="left-half">
        <input type="image" class="image-input" src="static/images/sorting_Seth.png" alt="sort" id="sort" form="sortForm">
        <p>sort</p>


      </div>
      <form class="right-half" action="/sort" method="POST" id="sortForm">

        <label><input type="checkbox" id="sw_title" name="sw_title"> Title</label>
        <label><input type="checkbox" id="sw_author" name="sw_author"> Author</label>
        <label><input type="checkbox" id="sw_year" name="sw_year"> Publication Year</label>
        <label><input type="checkbox" id="desc" name="desc"> Desc</label>
        </form>
      </form>
    </div>
    <div id="carousel-container">
      <div id="carousel">
        <!-- Your carousel goes here -->
      </div>
    </div>

    <div id="carousel-controls">
      <button class="carousel-button" id="rotate-left">◀ Rotate Left</button>
      <button class="carousel-button" id="rotate-right">▶ Rotate Right</button>
    </div>
    <p>You can capture and drag the wheel with the mouse</p>
    <label for="idForm">{{ message }}</label>
    <form id="idForm" action="/delete" method="POST" type="hidden">
    <input type="number" name="bookId" id="bookId" type="hidden">

    </form>
  </div>

  <!-- RIGHT PANEL -->
  <div id="right-panel">
    <div id="details">

    </div>
    <div id="search-form">
      <form id="search_Form" action="/search" method="POST">
        <input type="text" placeholder="Search for Title">
        <input type="text" placeholder="Search for Author">
        <input type="text" placeholder="Search a Pub. Year">
        <input type="text" placeholder="Search for ISBN">
        <input type="text" placeholder="Search ...">
        <input type="text" placeholder="Search ..."><br>
        <input type="submit" value="Search">
      </form>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
</body>
</html>
