<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Buchkarussell</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='carousel.css') }}">
</head>
<body>
 <div id="sidebar_left">
    <div class="route" id="add_book"><a href=add_book><img src=static/images/typewriter.png alt="Add Book"></a></div>
    <div class="route" id="add_author"><a href=add_author><img src=static/images/AddAuthor.png alt="Add Author"></a></div>
    <input type="image" src="static/images/delete_book.png" alt="delete" id="deletion" form="idForm"/>
    <div class="route" id="query"></div>
 </div>
  <div id="midpack">
    <div id="top_area">

        <form action="/" method="POST">
        <button style="height:40px;width:300px" type="submit" value="home">Sort by</button><br>
        <label for="title_switch">Title</label>
        <input type="checkbox" id="title_switch"/>
        <label for="author_switch">Author</label>
        <input type="checkbox" id="author_switch"/>
        <label for="year_switch">Publication Year</label>
        <input type="checkbox" id="year_switch"/>
        <label for="direction">DESC</label>
        <input type="checkbox" id="direction"/><br>

        </form>

    </div>
      <div id="plh_1"></div>
        <div id="titletag">Books<br>Alchemy</div>
    <div id="plh_2"></div>
        <div id="carousel-container">
            <div id="carousel"></div>
        </div>
        <div id="plh_3">
           <h3 style="color:red;">{{ message }}</h3>

        </div>
            <div id="Search"></div>
        <div id="plh_4"></div>
            <div id="lower_middle"><button type="button" id="rotate_left">Rotate Left</button><button type="button" id="rotate_right">Rotate Right</button></div>
  </div>
  <div id="sidebar_right">
    <div id="details"></div>


 </div>


  <form id="idForm" action="/delete" method="POST">
  <input type="number" name="bookId" id="bookId" type="hidden">
  </form>

  <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
</body>
</html>
