{% extends "add_author.html" %}

{% block content %}
     <div class="panel">
         <div style="display: flex; flex-direction: column; justify contents: center; align.items: center;"
           <h2>Sorry! Author seems very shy!</h2>
             <p>Currently no information available.</p>
           <img src='../static/images/Portraits/0.png' alt="Sorry, no data" width="200px" height="200">
          <p>We look for an alternative solution.</p>
        </div>
    </div>
{% endblock %}

     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Work in progress</title>
</head>
<body>
 <div class="container"
  <img src='../static/images/building_site.jpeg' alt="Sorry, work still in progress">
 </div>
</body>
</html>
